<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql" />
    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J" />
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <setting name="cacheEnabled" value="true" />
    </settings>
    <typeAliases>
        <package name="com.rui.model.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""></property>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/demo?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/rui/model/mapper/UserMapper.xml"></mapper>
        <mapper resource="com/rui/model/mapper/SysPrivilegeMapper.xml"></mapper>
        <mapper resource="com/rui/model/mapper/SysRolePrivilegeMapper.xml"></mapper>
        <mapper resource="com/rui/model/mapper/SysUserMapper.xml"></mapper>
        <mapper resource="com/rui/model/mapper/SysRoleMapper.xml"></mapper>
        <mapper resource="com/rui/model/mapper/SysUserRoleMapper.xml"></mapper>
    </mappers>
</configuration>
